<div class="container my-4">
  <!-- About me section -->
  <div class="card shadow">
    <div class="card-header bg-secondary text-white">
      <h3>About Me</h3>
    </div>
    <div class="card-boy">
      <app-about-me></app-about-me>
    </div>
  </div>

  <!-- Seción para los proyectos web -->
  <div class="card shadow">
    <div class="card-header bg-secondary text-white">
      <h3>My projects</h3>
    </div>
    <div class="card-boy">
      <app-web-projects></app-web-projects>
    </div>
  </div>
  <!-- Sección de la información de contacto -->
  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white">
      <h3>Contact information</h3>
    </div>
    <div class="card-body">
      <app-contact-information></app-contact-information>
    </div>
  </div>
</div>
