<div class="container my-5 p-4 bg-light rounded shadow">
  <!-- About Me Header -->
  <h3 class="text-center">{{ summary }}</h3>

  <!-- Skills Section -->
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4>Technical Skills</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let skill of skills" class="mb-3">
            <h5 class="text-black">{{ skill.title }}</h5>
            <p>{{ skill.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-danger text-white">
          <h4>Soft Skills</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let softSkill of softSkills">
            {{ softSkill }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Hobbies & Interests Section -->
  <div class="card mt-4 shadow">
    <div class="card-header bg-success text-white">
      <h3>Hobbies & Interests</h3>
    </div>
    <div class="card-body">
      <div *ngFor="let hobby of hobbies" class="mb-3">
        <h5 class="text-black">{{ hobby.title }}</h5>
        <p>{{ hobby.description }}</p>
      </div>
    </div>
  </div>
</div>
