<div class="container my-4">
  <h2 class="text-center mb-4">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let project of projects">
        <div class="card shadow-sm">
          <img
            [src]="project.img"
            class="card-img-top"
            [alt]="project.title"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a [href]="project.link" class="btn btn-primary" target="_blank"
              >See project</a
            >
          </div>
        </div>
      </div>
    </div>
  </h2>
</div>
