<ul class="list-unstyled">
  <li><strong>Nombre:</strong> {{ name }} {{ surname }}</li>
  <li>
    <strong>Email:</strong>
    <a href=":{{ email }}" class="text-decoration-none">{{ email }}</a>
  </li>
  <li>
    <strong>Teléfono: </strong>
    <a href=":{{ phone }}" class="text-decoration-none">{{ phone }}</a>
  </li>
  <li>
    <strong>LinkedIn:</strong>
    <a href="{{ linkedin }}" target="_blank" class="text-decoration-none"
      >Perfil de LinkedIn</a
    >
  </li>
  <li>
    <strong>GitHub:</strong>
    <a href="{{ github }}" target="_blank" class="text-decoration-none"
      >Perfil de GitHub</a
    >
  </li>
</ul>
